@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply mt-4;
}

ul li a {
  color: #000;
}


ul li a:hover {
  color: #00a8ff;
}

ul li a.active {
  color: #00a8ff;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.horizonal-ruller-3 {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #8f8f8f, #f0f0f0);
}

.horizonal-ruller-3::before {
  content: "About Me";
  display: inline-block;
  font-size: larger;
  background-color: white;
  padding: 6px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
}

p{
    margin-top: 20px;
}
article{
    max-width: 930px;
    max-height: 351px;
    margin: 0 auto;
}
